# General unwanted files
.DS_Store
/__pycache__
.vscode/
*.ipynb
*.pyc

# Analysis files
analysis/__pycache__/
analysis/errorspaces_FLD
analysis/thesis*
analysis/analysis2.py
analysis/analysis_old.py
analysis/compare_comp.py
analysis/derivatives.py
analysis/electron_eqs.py
analysis/errorspace_test.py
analysis/lowmdot.py
analysis/paramspace*
analysis/Pe.py
analysis/pressures_check.py
analysis/quinn.py
analysis/misc_plots/
analysis/light_curve/
analysis/envelope/
analysis/spot_check/


# Specific results

# Other compositions/eos
results/Ni*
results/He_IG_*
results/H_*

# Pure Optically thick results
results/He_IGDE_M1.1_R10_tau3_y8
results/He_IGDE_M1.1_R12_tau3_y8
results/He_IGDE_M1.1_R13_tau3_y8
results/He_IGDE_M1.4_R10_tau3_y8
results/He_IGDE_M1.4_R12_tau3_y8
results/He_IGDE_M1.4_R12_tau3_y9
results/He_IGDE_M1.4_R13_tau3_y8
results/He_IGDE_M2.0_R10_tau3_y8
results/He_IGDE_M2.0_R12_tau3_y8
results/He_IGDE_M2.0_R13_tau3_y8

# Other things
Plots.py
FLD_testing
misc_plots/
wind_values*
analysis/paper*
He_grid_with_winds
light_curve/
temp.py
wind_GR_oldnofld.py
foo.py