.DS_Store

/__pycache__

.vscode/

*.ipynb

*.pyc

misc_plots/

activitylog.txt

wind_values*

analysis/__pycache__/

analysis/light_curve/

analysis/envelope/

analysis/misc_plots/

analysis/spot_check/

analysis/thesis*

analysis/paper*

He_grid_with_winds

light_curve/

temp.py

wind_GR_oldnofld.py

foo.py


# Specific results

results/Ni*
results/He_IG_*
results/H_*
results/He_IGDE_M2.0*
results/He_IGDE_M1.1*
results/He_IGDE_M1.4_R10*
results/He_IGDE_M1.4_R13*

